<template name="feed">
	<div id="wrapper">
	    <div class="container-pins">
		    {{#each activities}}
		    	{{#if equals verb 'pin'}}
		    		{{> pin}}
		    	{{else}}
		    		{{> follow}}
	    		{{/if}}
			{{/each}}
	    </div>
	</div>
</template>

<template name="pin">
{{#if item}}
<article class="pin">
    <figure>
        <div class="pin-image-holder">
            <img class="pin-image" src="/media/{{ item.image_url }}">
        </div>
        {{#if item.message}}
            <figcaption class="pin-caption">
                {{ item.message }}
            </figcaption>
        {{/if}}
    </figure>
    <form class="pin-bottom create-destroy" method="POST" action="/pin">
        <div class="media">
        {{#if pinned item._id }}
            <div class="pull-left">
                <input class="btn btn-danger btn-sm" type="submit" value="Unpin" data-toggle="Pin">
            </div>
            <input name="remove" type="hidden" value="1">
            <input type="hidden" name="_method" value="DELETE">
        {{else}}
            <div class="pull-left">
                <input class="btn btn-primary btn-sm" type="submit" value="Pin" data-toggle="Unpin">
            </div>
        {{/if}}
            <div class="media-body">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon text-muted">in</span>
                    <input class="form-control" name="board_name" placeholder="Board name" type="text" value="My favourite things">
                </div>
            </div>
        </div>
        <input name="influencer" type="hidden" value="{{ item.image_url }}">
        <input name="item" type="hidden" value="{{ item._id }}">
    </form>
    <footer class="pin-attribution">
        by <a href="/profile/{{ username actor }}">{{ username actor }}</a>
        <span class="timesince">{{ fromNow item.time }}</span>
    </footer>
</article>
{{else}}
<article class="pin">
    <figure>
        <div class="pin-image-holder">
        </div>
        <figcaption class="pin-caption">
            Not enriched activity
        </figcaption>
    </figure>
    <form class="pin-bottom create-destroy" method="POST" action="/pin">
        <div class="media">
            <div class="media-body">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon text-muted">in</span>
                    <input class="form-control" name="board_name" placeholder="Board name" type="text" value="My favourite things">
                </div>
            </div>
        </div>
    </form>
    <footer class="pin-attribution">
    by <a href="">...</a>
    <span class="timesince">...</span>
</footer>
</article>
{{/if}}
</template>

<template name="follow">

<article class="pin">
    <figure>
        <div class="pin-image-holder">
        	<img class="pin-image" src="{{ avatarUrl target }}">
        </div>
        <figcaption class="follow-caption">
            {{ username actor }} followed {{ username target }}
        </figcaption>
    </figure>
    <footer class="pin-attribution">
        by <a href="/profile/{{ username actor }}">{{ username actor }}</a>
        <span class="timesince">{{ fromNow time }}</span>
    </footer>
</article>

</template>