<template name="nav">
	<nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/">GetStream Example</a>
	        </div>
	        <div class="collapse navbar-collapse">
	            <ul class="nav navbar-nav">
	                <li>
	                    <a href="{{pathFor route='trending'}}">Trending</a>
	                </li>
	                <li>
	                    <a href="{{pathFor route='flat'}}"><i class="glyphicon glyphicon-th"></i> Flat Feed</a>
	                </li>
	                <li>
	                    <a href="{{pathFor route='aggregated_feed'}}"><i class="glyphicon glyphicon-th-list"></i> Aggregated Feed</a>
	                </li>
	                <li>
	                    <a href="{{pathFor route='people'}}"><i class="glyphicon glyphicon-user"></i> People</a>
	                </li>
	                {{> loginButtons}}
	            </ul>
	        </div>
	    </div>
	</nav>
</template>