<template name="people">
{{#each this}}
	{{> profile}}
{{/each}}
</template>

<template name="profile">
    <div class="col-lg-4" style="margin-bottom: 1em;">
        <img width="45" height="45" src="{{ avatarUrl this }}?v=2&s=96">
        <h2><a href="/profile/{{ username this }}">{{ username this }}</a></h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        {{#unless showFeed}}
            <form method="POST" class="create-destroy">
             {{#if followed }}
                <input name="remove" type="hidden" value="1">
                <input type="hidden" name="_method" value="DELETE">
                <input class="btn btn-default btn-danger btn-destroy" type="submit" value="Unfollow" data-toggle="Follow">
             {{else}}
                <input class="btn btn-default btn-create" type="submit" value="Follow" data-toggle="Unfollow">
             {{/if}}
            <input name="target" type="hidden" value="{{ _id }}">
            <input name="next" type="hidden" value="{{ path }}">
            </form>
        {{/unless}}
    </div>
    {{#if showFeed}}
    <div class="col-lg-8">
        <div class="container-pins profile">
            {{#each activities }}
                {{#if equals this.verb 'pin' }}
                    {{> pin}}
                {{else}}
                    {{> follow}}
                {{/if}}
            {{/each}}
        </div>
    </div>
     {{/if}}
</template>